h1{
    margin: auto;
}
p{
    margin: auto;
}
.tarjeta-personal{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
}
